extends layout

block head

  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  
  main

    nav
      ul
        li: a(href='#', target='_blank') linkedin
        li: a(href='#', target='_blank') github
        li: a(href='#', target='_blank') twitter
        li: a(href='#', target='_blank') e-mail

    section.chat-box
      p Hello,
      p I'm Alireza Sheikholmolouki,
      p Art Lover, Binaries Fan
  
  script(src='/javascripts/index.bundle.js')

