extends layout

block head

  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  
  main

    nav
      ul
        li: a(href='https://www.linkedin.com/in/alireza-sheikholmolouki/', target='_blank') linkedin
        li: a(href='https://github.com/Alireza29675', target='_blank') github
        li: a(href='https://twitter.com/Alireza29675', target='_blank') twitter
        li: a(href='mailto://alireza.sheikholmolouki@gmail.com', target='_blank') e-mail

    section.chat-box
      p Hello,
      p I'm Alireza Sheikholmolouki,
      p Art Lover, Binaries Fan

    section.question-box
      span.title Ask me questions
      ul.suggestions
        li "What you're doing now?"
        li "are you employed or what?"
        li ...
  
  script(src='/javascripts/index.bundle.js')

