extends layout

block head

  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  
  main
    nav
      ul
        li: a(href='#', target='_blank') linkedin
        li: a(href='#', target='_blank') github
        li: a(href='#', target='_blank') twitter
        li: a(href='#', target='_blank') e-mail
  
  script(src='/javascripts/index.bundle.js')

