extends layout

block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/90/three.min.js")
    script (async src="https://www.googletagmanager.com/gtag/js?id=UA-37384136-3")
    script(src="/scripts/bundle.js")