doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="description" content="Hi, I'm Alireza Sheikholmolouki. I'm an explorer who loves to read, see things and create stuff and This is my personal website.")
    meta(name="keywords" content="Alireza, Sheikholmolouki, Personal, Programmer, Javascript, Explorer")
    meta(name="author" content="Alireza Sheikholmolouki")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
