doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Tajawal')
    link(rel='stylesheet', href='/stylesheets/vendor.css')
    block head
  body.ready
    block content
    script(src='/javascripts/vendor.bundle.js')