extends layout

block content
  canvas.background
  div.soundcloud
    label Piano by 
      b Mahan Farzad
    iframe(width="100%", height="130", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/154499244&amp;color=333333&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")
  .present
    h1 HI I'M 
      div.break
      a(target="_new", href="https://medium.com/@alireza.sheikholmolouki") ALIREZA
        div: span ALIREZA
    p - ART LOVER, BINARIES FAN -