doctype html
html
  head
    title ALIREZA SHEIKHOLMOLOUKI ◉
    meta(charset='utf8')
    meta(name='description', content='Alireza Sheikholmolouki\'s Personal Website')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='./favicon.ico', type='image/x-icon')

  body
    .spinner
    .content(style="opacity:0"): block content
    script(src='/js/loading.js')
    script(src='/js/three.min.js')
    script(src='/app.bundle.js')
