.taskbar {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 28px;
    outline: 1px solid #c0c0c0;
    border-top: 1px solid white;
    background: #c0c0c0;
}

/* Start Menu Button */

.taskbar > .start-menu-button {
    margin-left: 2px;
    height: 25px;
    min-width: 57px;
}

.taskbar > .start-menu-button > img {
    position: relative;
    top: 1px;
}

.taskbar > .start-menu-button > b {
    position: relative;
    top: -2px;
    left: 1px
}

/* Tasks */

.taskbar > .tasks {
    flex-grow: 1;
}

/* Tray */

.taskbar > .tray {
    height: 25px;
    margin: 1px;
    margin-right: 2px;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.taskbar > .tray > time {
    margin: 0;
    padding: 0;
    font-family: "MS Sans Serif", "Segoe UI", sans-serif;
    font-size: 13px;
}

.taskbar > .tray > .icon {
    margin-right: 5px;
}

/* Start Menu */

.taskbar > .start-menu {
    position: absolute;
    bottom: 100%;
    left: 2px;
    height: 250px;
    width: 200px;
    opacity: 0;
    pointer-events: none;
    transition-property: height;
    transition-duration: 0.1s;
}

.taskbar > .start-menu.open {
    opacity: 1;
    pointer-events: auto;
    height: 300px;
}