section.chat-box {
    width: 80%;

    & > p {
        font-size: 40px;
        position: relative;
        top: -20px;
        opacity: 0;

        &.user, &.alireza {
            font-size: 30px;
            transition-duration: 0.3s;
            margin-top: 20px;
            opacity: 0 !important;
            top: 20px !important;
            transition-duration: 0.6s;

            &.user {
                margin-top: 100px;
            }

            &.show {
                opacity: 1 !important;
                top: 0 !important;
            }

            &.away {
                opacity: 0 !important;
                top: -300px !important;
            }

            &:before {
                content: 'You: ';
                color: grey;
            }
        }
        &.alireza:before {
            content: 'Alireza: ';
        }

        &.away {
            opacity: 0 !important;
            top: -300px !important;
        }
    }
}